<script lang="ts">
	import type { ChainData } from "./chain_plots";
	import type { ChainNodeData } from "./chain_plots";
	export let chain_data: ChainData[];

	function node_to_table_row(node: ChainNodeData, chain: ChainData) {
		const bonus_usd = (chain.chain.sat_item_bonus_usd === null) ? 0 : chain.chain.sat_item_bonus_usd;
		const node_bonus_usd = node.sat_items_n*bonus_usd;
		return {
			user_id: node.original_user_id,
			chain: chain.chain_id,
			sat_items_n: node.sat_items_n,
			sat_item_bonus: "$"+bonus_usd + " USD",
			bonus: "$"+Math.round(node_bonus_usd*100)/100 + "USD",
		};
	}

	const table = chain_data
	.flatMap(chain=>chain.data.map(node=>node_to_table_row(node, chain)));
</script>

<section class="section">
	<table class="table is-fullwidth is-hoverable">
		<thead>
			<tr>
				{#each Object.keys(table[0]) as column_name}
					<th>{column_name}</th>
				{/each}
			</tr>
		</thead>
		<tbody>
			{#each table as row}
				<tr>
					{#each Object.values(row) as value}
						<td>{value}</td>
					{/each}
				</tr>
			{/each}
		</tbody>
	</table>
</section>
