<script lang="ts">
	import ChainAggregationPlots from "./ChainAggregationPlots.svelte";
	import Bonuses from "./Bonuses.svelte";
	import type { ChainData } from "./chain_plots";
	import SingleChainPlots from "./SingleChainPlots.svelte";

	export let chain_data: ChainData[];

	enum Mode {
		SingleChain = "single_chain",
		ChainAggregation = "chain_aggregation",
		Bonuses = "bonuses",
	};

	let active_mode = Mode.SingleChain;

</script>

<div id="main">
	<div id="section">
		<div id="container">
			<label class="label" for="mode">Mode:</label>
			<div class="select">
				<select id="mode" bind:value={active_mode}>
					{#each Object.values(Mode) as mode}
						<option value={mode}>
							{mode}
						</option>
					{/each}
				</select>
			</div>
		</div>
	</div>

	{#if active_mode === Mode.SingleChain}
		<SingleChainPlots chain_data={chain_data} />
	{:else if active_mode === Mode.ChainAggregation}
		<ChainAggregationPlots chain_data={chain_data} />
	{:else if active_mode === Mode.Bonuses}
		<Bonuses chain_data={chain_data} /> {:else}
		<p>Mode {active_mode} not supported!</p>
	{/if}
</div>

<style>
	#main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
</style>
