<script lang="ts">
	/**
	 * A 3x3 square and a crafting slot, all of which hold items
	 * (e.g. `EMPTY_SLOT_ITEM`).
	 *
	 * When an item is clicked, the `click` event is forwarded. See `ItemCard.svelte`.
	 */
	import type { CraftableItem, CraftingWorld, Item } from "minecraft/items";
	import ItemCard from "./ItemCard.svelte";
	import { base } from '$app/paths';

	export let item: CraftableItem;
	export let clickable: boolean = true;
	export let world: CraftingWorld<Item>;

	const crafting_table: Item[] = [];
	for (const name_ of item.recipe) {
		const i = world.name_to_item.get(name_);
		if (i === undefined)
			throw "Recipe for " + item.name + " contains item " + name_ + " not in world!";
		crafting_table.push(i);
	}
	const craftable_item = item;
	const fake_craft_item = {
		name: "craft",
		icon_src: base+"/img/craft.png",
		is_tool: false,
		score: 0,
		is_infinite: false,
	};
</script>

<div class="column-container">
	<div class="inner">
		<ItemCard on:click item={craftable_item} clickable={clickable}/>
	</div>
	<div class="inner">
		<ItemCard on:click item={fake_craft_item} clickable={false} outline={false}/>
	</div>
	<div class="list">
		{#each crafting_table as item, i}
			<div class="inner">
				<ItemCard on:click item={item} clickable={clickable}/>
			</div>
			{#if i < crafting_table.length-1}
				<div class="inner"><p>{"+"}</p></div>
			{/if}
		{/each}
	</div>
</div>

<style>
	.column-container {
		display: flex;
		flex: 0;
		flex-flow: row;
	}
	.inner {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 2em;
	}
	.list {
		overflow-x: auto;
		flex-direction: row;
		display: flex;
	}
</style>
