<script lang="ts">
	/**
	 * An inventory and a crafting table. Forwards event `click`
	 * when an item is clicked.
	 */
	import Inventory from "./Inventory.svelte";
	import ItemCard from "./ItemCard.svelte";
	import type { Item } from "minecraft/items";

	export let crafting_table: Item[];
	export let inventory: Item[];
	export let craftable_item: Item|null;
	export let clickable: boolean = true;
</script>

<div class="row-container">
	<div class="column-container">
		<div class="inner">
		<p>Input:</p>
		</div>
		<div class="inner">
		<p>Output:</p>
		</div>
	</div>
	<div class="column-container">
		<div class="list">
			{#if crafting_table.length > 0}
				{#each crafting_table as item}
					<div class="inner">
						<ItemCard
							on:click
							item={item}
							clickable={clickable}
						/>
					</div>
				{/each}
			{:else}
				<div class="inner">
					<ItemCard
						on:click
						item={null}
						clickable={clickable}
					/>
				</div>
			{/if}
		</div>
		<div class="inner"><p>{"→"}</p></div>
		{#key craftable_item}
			<div class="inner">
				<ItemCard on:click item={craftable_item} clickable={clickable}/>
			</div>
		{/key}
	</div>
	<div class="column-container">
		<div class="inner">
		<p>Inventory:</p>
		</div>
	</div>
	<div class="column-container">
		<div class="list">
			<Inventory
				on:click
				items={inventory}
				clickable={clickable}
				style_changes={true}
			/>
		</div>
	</div>
</div>

<style>
	.column-container {
		display: flex;
		flex: 0;
		flex-flow: row;
		margin: auto;
		width: 100%;
		height: 100%;
	}

	.row-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		margin: auto;
	}

	.inner {
		margin-top: auto;
		margin-bottom: auto;
		margin: auto;
		overflow: auto;
		flex: 0 0 auto;
	}

	.list {
		overflow-x: auto;
		flex-direction: row;
		display: flex;
		max-width: 100%;
	}
</style>
