<script lang="ts">
	import ParameterForm from "./ParameterForm.svelte";
	import type { ChainNode } from "./firebase";
	import type { Library } from "natural-programs/library/library";
	import type { BeamParameters, Goal, MinecraftAPI } from "./minecraft_app";
	import { get_api } from "./minecraft_app";
	import { parse_csvs } from "./world_csv";
	import type { CraftingWorld, Item } from "minecraft/items";
	import type { BeamSearchParameters } from "./session_snapshot";
	import type { SessionType } from "./session_snapshot";
	import { base } from '$app/paths';
	import type { ProposeParameters } from "natural-programs/library/proposers";

	export let user_id: string;
	export let snapshot_id: string;
	export let item_csv: string;
	export let mine_csv: string;
	export let session_type: SessionType;
	export let library: Library;
	export let inventory: Item[];
	export let beam_search_parameters: BeamSearchParameters;
	export let beam_parameters: BeamParameters;
	export let propose_parameters: ProposeParameters;
	export let configure: boolean;
	export let snapshot_url: string;
	export let session_id: string;
	export let seed: string;
	export let goal: Goal|null;
	export let chain_node: ChainNode|null;
	export let session_timeout_ms: number|null;
	export let sat_item_bonus_usd: number|null;
	export let starting_sat_items_names: string[];
	export let max_queue_size: number;
	export let replay_id: string|null;

	// Form options
	let deciding = (configure) ? true : false;

	type InitPromise = {
		world: CraftingWorld<Item>,
		api: MinecraftAPI,
	};

	// Assemble application init data
	const icon_directory = base+"/img/icons/";
	async function init(): Promise<InitPromise> {
		const world = parse_csvs(item_csv, mine_csv, seed, icon_directory);
		const api = get_api(world);

		// Build default library
		return {
			world: world,
			api: api,
		};
	}
	let promise = init();
</script>

{#if deciding}
	<div class="container">
		<form on:submit|preventDefault|once={()=>{promise=init(); deciding=false;}}>

			<div class="field">
				<label for="item_csv">Item CSV:</label>
				<textarea id="item_csv" class="textarea" spellcheck="false" bind:value={item_csv}></textarea>
			</div>

			<div class="field">
				<label for="mine_csv">Mine CSV:</label>
				<textarea id="mine_csv" class="textarea" spellcheck="false" bind:value={mine_csv}></textarea>
			</div>

			<div class="field">
				<label for="seed">World seed:</label>
				<input class="input" spellcheck="false" id="seed" bind:value={seed}>
			</div>

			<button class="button" type=submit>Next</button>
		</form>
	</div>
{:else}
	{#await promise}
		<p>Caching primitive embeddings</p>
	{:then data}
		{#if data !== null}
			<ParameterForm
				user_id={user_id}
				snapshot_id={snapshot_id}
				item_csv={item_csv}
				mine_csv={mine_csv}
				library={library}
				world={data.world}
				session_type={session_type}
				api={data.api}
				beam_search_parameters={beam_search_parameters}
				propose_parameters={propose_parameters}
				inventory={inventory}
				configure={configure}
				snapshot_url={snapshot_url}
				session_id={session_id}
				seed={seed}
				goal={goal}
				chain_node={chain_node}
				beam_parameters={beam_parameters}
				session_timeout_ms={session_timeout_ms}
				sat_item_bonus_usd={sat_item_bonus_usd}
				starting_sat_items_names={starting_sat_items_names}
				max_queue_size={max_queue_size}
				replay_id={replay_id}
				on:task_completed
			/>
		{:else}
			<p>Something went wrong.</p>
			<p>Try reloading the page.</p>
		{/if}
	{:catch error}
		<p>Something went wrong: {error}</p>
		<p>Maybe the NL API is offline? Try reloading the page.</p>
	{/await}
{/if}
