<script lang="ts">
	import Inventory from "./Inventory.svelte";
	import type { Goal } from "./minecraft_app";
	import { get_remaining_ms } from "./minecraft_app";
	import { base } from '$app/paths';
	import Timer from "easytimer.js";
	import { onDestroy } from 'svelte';

	export let goal: Goal;
	export let sat_item_n: number;
	export let session_timeout_ms: number|null;
	export let sat_item_bonus_usd: number|null;
	export let session_timer: Timer;
	export let tutorial_timer: Timer;
	export let show_signature_execution_error_stopwatch: Timer;

	const fake_check_item = {
		name: "check",
		icon_src: base+"/img/check-mark.png",
		is_tool: false,
		score: 0,
		is_infinite: false,
	};

	const displayed_goal = [...goal];
	for (let i = 0; i < sat_item_n; i++)
		displayed_goal.unshift(fake_check_item);

	let time_left = "";
	const interval = setInterval(() => {
		if (session_timeout_ms !== null) {
			// Compute remaining time
			const remaining_ms = get_remaining_ms(
				session_timeout_ms,
				session_timer,
				tutorial_timer,
				show_signature_execution_error_stopwatch,
			);

			// Build timer to pretty print remaining time
			const aggregate_timer = new Timer({
				startValues: {
					seconds: remaining_ms/1000
				}
			});
			const s_remaining = aggregate_timer.getTimeValues().seconds;
			const m_remaining = aggregate_timer.getTimeValues().minutes;
			time_left = m_remaining + "m " + s_remaining + "s";
		}
	}, 1000);

	onDestroy(() => clearInterval(interval));
</script>

<div>
	<p>Goal:</p>
	<Inventory items={displayed_goal} clickable={false} style_changes={false}/>
	{#if sat_item_bonus_usd !== null}
		<p>Bonus: {sat_item_bonus_usd} &times {sat_item_n} completed items = ${Math.round(sat_item_bonus_usd*sat_item_n*100)/100} USD</p>
	{/if}
	{#if session_timeout_ms !== null}
		<p>Time left: {time_left}</p>
	{/if}
</div>

<style>
	div {
		margin: auto;
		width: 100%;
	}
	p {
		text-align: center;
	}
</style>
