<script lang="ts">
	/**
	 * A list of items displayed on a row. Forwards event `click`
	 * when an item is clicked. See `ItemCard.svelte`.
	 */
	import type { Item } from "minecraft/items";
	import ItemCard from "./ItemCard.svelte";

	export let items: Item[];
	// If display_infinite_copies show the exact number of copies of items
	// that are infinite
	export let display_infinite_copies: boolean = false;
	export let clickable: boolean = true;
	export let style_changes: boolean; // whether to style item increments and decrements
	export let scroll_to_last_item: boolean = true;
	const prev_counts = new Map<string, number>();

	/**
	 * Scroll the node into view. This is called when the last item
	 * is instantiated.
	 */
	function scroll_to_view(node: HTMLElement, d: [[Item, string, number, number], number]) {
		if (!scroll_to_last_item) return;
		const count = d[0][2];
		const prev_count = d[0][3];
		const item = d[0][0];
		node.classList.remove("increased-item");
		if (style_changes && !(item.is_infinite) && count > prev_count)
			node.classList.add("increased-item");
		node.scrollIntoView({behavior: "smooth"});
		return {
			destroy() {}
		}
	}

	// Build a dataset of [(item, count)] that is updated automatically on
	// inventory change
	let item_counts: [Item, string, number, number][] = [];
	$: if(items) {
		const counted_names = new Set<string>();

		// Reverse inventory so that newest items are processed first
		const local_items = [...items];
		local_items.reverse();
		const local_item_counts: [Item, string, number, number][] = [];
		for (const item of local_items) {
			if (counted_names.has(item.name)) continue;
			counted_names.add(item.name);
			const copies = items.filter(i=>i.name===item.name);
			const count = copies.length;
			const is_infinite = copies.some(i=>i.is_infinite);
			const displayed_count = (is_infinite && !display_infinite_copies) ? "inf" : "x"+count;
			const _prev_count = prev_counts.get(item.name);
			const prev_count = (_prev_count === undefined) ? 0 : _prev_count;
			prev_counts.set(item.name, count);
			local_item_counts.push([item, displayed_count, count, prev_count]);
		}

		// Show processed items last
		local_item_counts.reverse();
		item_counts = [...local_item_counts];
	}
</script>

<div class="column-container">
	{#key item_counts}
	{#each item_counts as item_count, i}
		<div class="item_in_list">
			<div>
				<ItemCard on:click item={item_counts[i][0]} clickable={clickable}/>
			</div>
			<div class="count" use:scroll_to_view={[item_count, i]}>
				<p>{item_count[1]}</p>
			</div>
		</div>
	{/each}
	{/key}

	<style>
	.increased-item {
		border: #5ba567;
		border-style: solid;
		border-width: medium;
		box-sizing: border-box;
	}
	</style>
</div>

<style>
	.column-container {
		display: flex;
		flex: auto;
		flex-flow: row;
		overflow: auto;
		box-sizing: border-box;
	}

	.count {
		margin: auto;
	}

	p {
		text-align: center;
	}

	.item_in_list {
		flex: 0 0 auto;
	}
</style>
