<script lang="ts">
	import CraftingTable from "./CraftingTable.svelte";
	import ItemCard from "./ItemCard.svelte";
	import type { CraftingWorld } from "minecraft/items";
	import type { Item } from "minecraft/items";
	import { can_mine, get_yield } from "minecraft/items";
	import { naturalize_mine, naturalize_pick, naturalize_simple_primitive, } from "minecraft/solutions";
	import { MinecraftSimplePrimitive } from "minecraft/grammar";

	export let item: Item;
	export let world: CraftingWorld<Item>;

	const items_in_scope = [...world.name_to_item.values()];
	const can_mine_items = items_in_scope.filter(i=>can_mine(item, i, world));
	const is_mined_items = [...items_in_scope, null].filter(i=>can_mine(i, item, world));
	const recipe_crafting_table: Item[] = [];
	if ("recipe" in item) {
		for (const i_name of item.recipe) {
			const i = world.name_to_item.get(i_name)
			if (i === undefined)
				throw "Recipe for " + item.name + " containts item " + i_name + " not in world!";
			recipe_crafting_table.push(i);
		}
	}
</script>

<h2>Item</h2>
<ItemCard item={item} clickable={false}/>

<h3>Picking</h3>
<p>If this item is in the inventory, you can execute the following command: <code>{naturalize_pick(item)}</code>.</p>

<h3>Crafting</h3>
{#if "recipe" in item}
	<p>If the crafting table looks like this, the <code>{naturalize_simple_primitive(MinecraftSimplePrimitive.Craft)}</code> command
	will craft the item on the right:</p>
	<div class="row">
		<CraftingTable
			crafting_table={recipe_crafting_table}
			craftable_item={item}
			on:click
			/>
	</div>
{:else}
	<p>This item cannot be crafted.</p>
{/if}

<h3>Mining</h3>
{#if can_mine_items.length === 0}
	<p>This item cannot mine any item.</p>
{:else}
	<p>If you <code>{naturalize_pick(item)}</code>, you can mine the following items:</p>
	<table>
	<tr>
		<th>Item</th>
		<th>Yield</th>
		<th>Command</th>
	</tr>
	{#each can_mine_items as item_}
		<tr>
			<td><ItemCard item={item_} clickable={true} on:click/></td>
			<td><p>{get_yield(item, item_, world)}</p></td>
			<td><p><code>{naturalize_mine(item_)}</code></p></td>
		</tr>
	{/each}
	</table>
	{#if "durability" in item}
		<p>The item will be destroyed after {item.durability} {(item.durability === 1)?"use":"uses"}.</p>
	{/if}
{/if}

{#if is_mined_items.length === 0}
	<p>This item cannot be mined by any items.</p>
{:else}
	This item can be mined with the following items:
	<table>
	<tr>
		<th>Item</th>
		<th>Yield</th>
	</tr>
	{#each is_mined_items as item_}
		{#if item_ === null}
			<tr>
				<td>Hand</td>
				<td><p>{get_yield(item_, item, world)}</p></td>
			</tr>
		{:else}
			<tr>
				<td><ItemCard item={item_} clickable={true} on:click/></td>
				<td><p>{get_yield(item_, item, world)}</p></td>
			</tr>
		{/if}
	{/each}
	</table>
	{#if "durability" in item}
		<p>The item will be destroyed after {item.durability} {(item.durability === 1)?"use":"uses"}.</p>
	{/if}
{/if}
