<script lang="ts">
	/**
	 * An inventory and a crafting table. Forwards event `click`
	 * when an item is clicked.
	 */
	import ItemCard from "./ItemCard.svelte";
	import type { Item } from "minecraft/items";

	export let items: Item[];
	export let clickable: boolean = true;
</script>

<div class="column-container">
	<div class="list">
		{#if items.length > 0}
			{#each items as item}
				<div class="inner">
					<ItemCard
						on:click
						item={item}
						clickable={clickable}
					/>
				</div>
			{/each}
		{:else}
			<div class="inner">
				<ItemCard
					on:click
					item={null}
					clickable={clickable}
				/>
			</div>
		{/if}
	</div>
</div>

<style>
	.column-container {
		display: flex;
		flex: 0;
		flex-flow: row;
		margin: auto;
		width: 100%;
		height: 100%;
	}

	.inner {
		margin-top: auto;
		margin-bottom: auto;
		margin: auto;
		overflow: auto;
		flex: 0 0 auto;
	}

	.list {
		overflow-x: auto;
		flex-direction: row;
		display: flex;
		max-width: 100%;
	}
</style>
