<script lang="ts">
	/**
	 * A simple square that displays an Item.
	 *
	 * If the item is not `EMPTY_SLOT_ITEM`, dispatches event
	 * 'click' when item is clicked with a dictionary containing
	 * the clicked Item under the 'item' key:
	 *
	 * event.detail = { item: { id_mc: 000, ... } }
	 */
	import type { Item } from "minecraft/items";
	import { createEventDispatcher } from 'svelte';

	export let item: Item|null;
	export let clickable: boolean = true;
	export let outline: boolean = true;

	const img_src = (item===null) ? "img/icons/0.png" : item.icon_src;
	const title = "";

	let css = "card";
	if (outline)
		css = css + " outline";
	if (clickable)
		css = css + " clickable";

	const dispatch = createEventDispatcher();

	function handleClick() {
		dispatch('click', {
			item: item,
		});
	}
</script>

{#if clickable}
	<div class={css} on:click={handleClick}>
		<img src={img_src} alt={title} title={title}/>
	</div>
{:else}
	<div class={css}>
		<img src={img_src} alt={title} title={title}/>
	</div>
{/if}


<style>
	.card {
		display: flex;
		height: 100%;
		margin: 0.1em;
		padding: 0.5em;
		box-sizing: border-box;
	}

	.outline {
		outline: 1px solid #aaa;
	}

	.clickable {
		cursor: pointer;
	}

	img {
		width: 4vw;
		margin: auto;
		object-fit: contain;
	}

	/* On portrait make the icons smaller and remove padding. */
	@media only screen and (orientation: portrait) {
		.card {
			padding: 0em;
			cursor: pointer;
		}
		img {
			width: 2em;
		}
	}
</style>
