<script lang="ts">
	// Expects list of youtube "embed URLs"
	export let videos: {
		title: string,
		path: string,
	}[];

	let i = 0;
</script>

<div>
	{#if videos.length > 1}
		<div id="selector" class="level">
			<div class="side-button level-item has-text-centered">
				<button class="button is-dark" on:click="{()=>{i--;}}" disabled={i<=0}>←</button>
			</div>

			<div id="title" class="level-item has-text-centered">
				<div>
				<p>({i+1}/{videos.length})</p>
				<p>{videos[i].title}</p>
				</div>
			</div>

			<div class="side-button level-item has-text-centered">
			<button class="button is-dark" on:click="{()=>{i++;}}" disabled={i>=videos.length-1}>→</button>
			</div>
		</div>
	{/if}
	{#key i}
		<video width="400" controls>
			<source src={videos[i].path}>
			Your browser does not support HTML5 video.
		</video>
	{/key}

	<style>
		#selector {
			display: flex;
		}
		#title {
			flex: auto;
			flex-grow: 1;
		}
		.side-button {
			flex-grow: 0;
		}
		video {
			width: 100%;
			height: auto;
		}
	</style>
</div>
