<script lang="ts">
	import { base } from '$app/paths';

	let burger: HTMLElement;
	let menu: HTMLElement;
	function toggle_burger() {
		burger.classList.toggle("is-active");
		menu.classList.toggle("is-active");
	}
</script>
<main>
	<nav class="navbar">
		<div class="navbar-brand">
			<a class="navbar-item" href={base+"/"}>
				<img id="logo" src={base+"/logo.png"} alt="NP">
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" href="#" on:click={toggle_burger} bind:this={burger}>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div class="navbar-menu" bind:this={menu} on:click={toggle_burger}>
			<div class="navbar-start">

				<a class="navbar-item" href={base+"/playground"}>
					Playground
				</a>

				<a class="navbar-item" href={base+"/paper"}>
					Paper
				</a>

				<a class="navbar-item" href={"https://gitlab.com/natural-programs/user-study-summary-website/-/tree/main/data"}>
					Data
				</a>

				<a class="navbar-item" href="https://gitlab.com/da_doomer/crafting-natural-language">
					Code
				</a>

			</div>

		</div>
	</nav>
	<div id="main">
		<slot></slot>
	</div>
</main>


<style lang="scss" global>
	@import '../node_modules/bulma/bulma';

	#logo {
		height: 2em !important;
		width: 2em !important;
	}

	#main {
		height: 100%;
		width: 100%;
	}
</style>
