<script lang="ts">
	import { get_chain_ids, sign_in_anonymously, type Session } from "$lib/firebase";
	import { get_chain } from "$lib/firebase";
	import { get_new_session_id } from "$lib/firebase";
	import { get_new_user_id } from "$lib/firebase";
	import { get_new_snapshot_id } from "$lib/firebase";
	import { get_chain_sessions } from "$lib/firebase";
	import { base } from '$app/paths';
	import { get_snapshot_url } from "$lib/minecraft_app";
	import { writable } from 'svelte/store';

	type SnapshotConfigurationInitPromise = Promise<{
		snapshot_id: string,
		snapshot_url: string,
		session_id: string,
		user_id: string,
		chain_session_links: [string, URL[]][],
		chain_seeds: string[],
	}>;

	async function new_snapshot() {
		const new_snapshot_id = await get_new_snapshot_id();
		return [new_snapshot_id, get_snapshot_url(new_snapshot_id, base).toString()];
	}

	async function get_chain_links(chain_id: string): Promise<[string, URL[]]> {
		// Get chain sessions
		const sessions = await get_chain_sessions(chain_id);
		sessions.sort((a: Session, b: Session) => {
			const id_a = a.start_snapshot_id;
			const id_b = b.start_snapshot_id;
			if (id_a < id_b) return -1;
			if (id_b > id_a) return 1;
			return 0;
		});
		console.log({chain_id: chain_id, sessions: sessions});

		const chain_links: URL[] = sessions.map(function(session) {
			return get_snapshot_url(
				session.start_snapshot_id,
				base
			);
		});
		return [chain_id, chain_links];
	}

	async function get_chain_seed(chain_id: string): Promise<string> {
		const chain = await get_chain(chain_id);
		return chain.chain_seed;
	}

	async function get_snapshots(): SnapshotConfigurationInitPromise {
		await sign_in_anonymously();
		const user_id = await get_new_user_id();

		const [new_snapshot_id, snapshot_url] = await new_snapshot();
		const session_id = await get_new_session_id();

		// Get the chains IDs
		const all_chain_ids = await get_chain_ids();
		const chain_ids = all_chain_ids
			.filter(chain_id=>chain_id.includes("2023"));

		// Get the sessions for the chains
		const chain_session_links_promises = chain_ids
			.map(chain_id=>get_chain_links(chain_id));
		const chain_seeds_promises = chain_ids
			.map(chain_id=>get_chain_seed(chain_id));
		const chain_session_links = await Promise.all(chain_session_links_promises);
		const chain_seeds = await Promise.all(chain_seeds_promises);

		if (chain_session_links.length > 0) {
			$selected_links = chain_session_links[0][1];
		}

		return {
			snapshot_id: new_snapshot_id,
			snapshot_url: snapshot_url.toString(),
			session_id: session_id,
			user_id: user_id,
			chain_session_links: chain_session_links,
			chain_seeds: chain_seeds,
		};
	}

	const snapshot_promise = get_snapshots();
	let target_url: URL;
	let selected_links = writable<URL[]>([]);
	selected_links.subscribe(vals=>{
		if (vals.length > 0)
			target_url = vals[0];
	});
</script>

<div class="container">
{#await snapshot_promise}
	<progress class="progress is-medium is-primary" max="100"></progress>
	<p>Loading available session snapshots...</p>
{:then init_data}
	<article class="message">
		<div class="message-body">
			Use this menu to load the starting session in a chain from the user study. Only chains with '2023' in the ID shown for conciseness.
		</div>
	</article>
	<div class="field">
		<label class="label" for="mode">Chain (chain ID | chain seed):</label>
		<div class="select">
			<select id="mode" bind:value={$selected_links}>
				{#each init_data.chain_session_links as entry, i}
					<option value={entry[1]} selected={i===0}>
						{entry[0]} | {init_data.chain_seeds[i]}
					</option>
				{/each}
			</select>
		</div>
	</div>

	<div class="field">
		<label class="label" for="session">Start of session:</label>
		<div class="select">
			<select id="session" bind:value={target_url}>
				{#each $selected_links as link, i}
					<option value={link} selected>
						{i}
					</option>
				{/each}
			</select>
		</div>
	</div>

	{#if target_url !== undefined}
		<a href={target_url.toString()}>
			<button class="button" type=submit>Next</button>
		</a>
	{/if}
	{:catch error}
		<p>Something went wrong loading available session snapshots: {error}</p>
		<p>Maybe the database or the NL API is offline? Try reloading the page.</p>
	{/await}
</div>
