<script lang="ts">
	import Blockly from 'blockly';
	import { init_api } from "./blocks";
	import type { NaturalProgramSketch } from "natural-programs/types";
	import type { SolverResult } from "natural-programs/types";
	import type { SketchSolver } from "natural-programs/types";
	import type { Outcome } from "./blocks";
	import type { DropdownOption } from "./blocks";
	import { onMount } from 'svelte';
	import { write_event } from '$lib/firebase';

	type ProgramState = $$Generic;
	export let get_initial_state: () => ProgramState;
	export let solver: SketchSolver<ProgramState>;
	export let execution_pause_ms: number;

	export let update_ui_state: (state: ProgramState) => any;

	// Toolbox
	export let session_id: string;
	export let get_session_milliseconds: ()=>number;
	export let toolbox: Blockly.utils.toolbox.ToolboxInfo;
	type ToolboxCallback = ()=>Blockly.utils.toolbox.BlockInfo[];
	export let toolbox_callbacks: Map<string, ToolboxCallback>;
	export let button_callbacks: [string, (button: Blockly.FlyoutButton)=>any][];
	export let illustration_primitive_map: (option: string)=>string;
	export let illustration_post_condition_map: (option: string)=>string|null;
	export let signature_dropdown_options: DropdownOption[];
	export let primitive_dropdown_options: DropdownOption[];
	export let function_definition_dropdown_options: DropdownOption[];
	export let is_runnable: (np: NaturalProgramSketch, state: ProgramState) => boolean;
	export let get_automatic_postcondition: (query: string) => Promise<string|null>;
	export let execute_primitive: (p: string, s: ProgramState) => ProgramState;
	import { base } from '$app/paths';

	export let save_successful_execution: (
		r: SolverResult<ProgramState>&{sketch: NaturalProgramSketch},
		block: Blockly.BlockSvg,
		)=>Promise<void>;

	export let success_execution_callback: (
		block: Blockly.Block,
		outcome: Outcome<ProgramState>
	)=>Promise<void>;
	export let fail_execution_callback: (
		np: NaturalProgramSketch,
		error: any,
		milliseconds: number,
	)=>Promise<void>;

	let blocklyArea: HTMLElement;
	let blocklyDiv: HTMLElement;

	function write_blockly_event(event: Blockly.Events.Abstract) {
		// Ignore UI events (e.g., clicking).
		if (event.isUiEvent)
			return;
		// Ignore changing icons in blocks
		if ("name" in event && event.name === "PLAY_BUTTON")
			return;
		write_event({
			kind: "blockly_event",
			session_id: session_id,
			session_milliseconds: get_session_milliseconds(),
			blockly_event_json: event.toJson(),
		});
	}

	// Add the editor to the div
	onMount(() => {
		init_api(
				get_initial_state,
				execution_pause_ms,
				update_ui_state,
				success_execution_callback,
				fail_execution_callback,
				save_successful_execution,
				solver,
				illustration_primitive_map,
				illustration_post_condition_map,
				signature_dropdown_options,
				primitive_dropdown_options,
				function_definition_dropdown_options,
				is_runnable,
				get_automatic_postcondition,
				execute_primitive,
				base,
			);
		const options = {
			toolbox: toolbox,
			trashcan: false,
			scrollbars: true,
			zoom: { startScale: 1.0, controls: true, },
			move: { wheel: true, },
			horizontalLayout: window.screen.height > window.screen.width,
		};
		const workspace = Blockly.inject(blocklyDiv, options);
		workspace.zoomToFit();

		// Register custom toolbox callbacks
		for (const [name, callback] of toolbox_callbacks)
			workspace.registerToolboxCategoryCallback(name, callback);

		// Register custom button callbacks
			for (const [name, callback] of button_callbacks)
				workspace.registerButtonCallback(name, callback);
		Blockly.svgResize(workspace);
		blocklyArea.style.display = "none";

		// Register events callbacks
		workspace.addChangeListener(write_blockly_event);

		return () => {
			if (onresize !== null)
				window.removeEventListener('resize', onresize, false);
			if (workspace !== null)
				workspace.dispose();
		};
	});
</script>

<div>
	<!-- Put the style in a div so that Svelte does not pre-process it -->
	<div bind:this={blocklyArea}></div>
	<div bind:this={blocklyDiv}></div>
	<style>
	.fake-block {
		fill: #5ba567;
	}
	</style>
</div>

<style>
	div {
		width: 100%;
		height: 100%;
	}
</style>
